.diary-container {
  background-color: #FFFFFC;
  border: solid 1px #bdbdbd;
  border-radius: 5px;
  height: 400px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.meal-list-item {
  cursor: pointer;
  width: 90%;
  min-height: 30px;
}

.close {
  width: 5%;
  font-weight: 700;
  cursor: pointer;
}

.meal-list-item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.diary-header {
  margin-bottom: 8px;
  height: 20px;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  justify-content: center;
  background-color: #F6E05D;
}

.diary-content {
  font-size: 12px;
}

.meal-list-item-header {
  font-weight: 800;
  margin-left: 10px;
  font-size: 13px;
}

.submit-container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 10px;
}

.diary-list-item {
  background-color: #FDFAEC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #E6E6E6;
  padding-left: 10px;

  &:last-child {
    border-bottom: solid 1px #E6E6E6;
    margin-bottom: 10px;
  }
}

.diary-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.diary-list-item-header-container {
  padding-left: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 16px;
}

.diary-list-item-item {

  width: 20%;

  &:first-child {
    width: 60%;
  }
}