.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2b9ac;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-family: 'Manrope', sans-serif;
    
    &-title {
        font-size: 30px;
        color: #241211;
    }
    
}

