.container {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: calc(100vh - 120px);
}

.product-list-container {
    border: solid 1px;
    height: 300px;
    width: 900px;
    overflow: scroll;
}

.product-list {
    width: 400px;
}

.product-name {
    font-size: 14px;
    width: 300px;
}

.meal-list-item {
    cursor: pointer;
}