.nutrition-container {
  background-color: #F3FBFF;
  border: solid 1px #bdbdbd;
  border-radius: 3px;
  height: 400px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nutrition-header {
  font-size: 13px;
  display: flex;
  justify-content: center;
  background-color: #8BACE4;
}

.nutrition-content {
  font-size: 12px;
}

.nutrition-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #E6E6E6;
  background-color: #F5F5F5;
  padding-left: 10px;

  &:last-child {
    border-bottom: solid 1px #E6E6E6;
    margin-bottom: 10px;
  }
}

.nutrition-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.nutrition-list-item-header-container {
  padding-left: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 16px;
}

.nutrition-list-item-item {

  width: 20%;

  &:first-child {
    width: 60%;
  }
}