.product-list-container {
    border: solid 1px;
    height: 300px;
    width: 800px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}