.user-info-container {
  border: solid 1px #bdbdbd;
  border-radius: 3px;
  height: 400px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-info-header {
  font-size: 13px;
  display: flex;
  justify-content: center;
  background-color: #bdbdbd;
}

.user-info-content {
  margin-left: 15px;
  margin-left: 15px;
  font-size: 12px;
}