.user-info-container {
  background-color: #FFFCFC;
  border: solid 1px #bdbdbd;
  border-radius: 5px;
  height: 400px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-info-header {
  height: 20px;
  font-weight: 700;
  background-color: #EB6565;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-content {
  font-size: 12px;
}

.user-info-list-item {
  background-color: #FFF4F3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #FFDDDA;
  padding-left: 10px;

  &:last-child {
    border-bottom: solid 1px #FFDDDA;
    margin-bottom: 10px;
  }
}

.user-info-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.user-info-list-item-header-container {
  padding-left: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 16px;
}

.user-info-list-item-item {

  width: 20%;

  &:first-child {
    width: 60%;
  }
}