@import './home';
@import './header';
@import 'ember-basic-dropdown';
@import 'dropdown';
@import 'diary';
@import 'products';
@import 'user-info';
@import 'nutrition';
@import 'button';
@import 'input';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html, body{
  margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
}

p {
    font-size: 12px;
}

.ember-modal-overlay {
    background-color: rgba(30,40,55,0.5);
}