  <BasicDropdown as |dd|>
    <dd.Trigger class='trigger'>Add<span class='caret'></span></dd.Trigger>
    <dd.Content {{on 'mouseleave' (fn @closeLater dd)}} class='content'>
      {{#each @mealList as |meal|}}
          <p {{on "click" (fn @mealSelected dd)}}>{{meal}}</p>
      {{/each}}
    </dd.Content>
  </BasicDropdown>